.police{
 font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*changer l'épaisseur du texte par défault en normal*/
h2 {
    font-weight:normal;
}
/* Ecrire les couleurs dans la couleur approprié*/
#bleu {
    color:#133458;
}

#rose {
    color:#EA2264;
}
#orange {
    color:#EB5B00;
}
#rouge {
    color:#B93636;
}
#vert {
    color:#7D9C65;
}
/*Mettre les images en 200px * 200px*/
img{
    width: 200px;
    height: 200px;
    object-fit:contain;
}
/* Padding- Margin- Border*/
.couleur {
    height: 30px;
    width: 100px;
    padding: 10px 10px;
    border: 5px solid;
    margin-left: 30px;
    text-align: center;
   
}
div{
    box-sizing: border-box;
    width: 240px;
    padding: 10px;
    border: 5px solid black
}
.rosado{
    margin-left: 240px;
}
.naranja{
    margin-left: 480px;
}
.rojo{
    margin-left:720px ;
}
.verde{
    margin-left:960px ;
}